.calcaulator{
    width: 360px;
    height: 660px;
    background-color: rgb(145, 130, 130);
    padding: 10px;
    border-radius: 10px;

}
.display{
    width: 100%;
    padding: 5px 10px;
    height: 150px;
    background-color: rgb(209, 255, 241);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px  black inset;
    line-height: 150px;
    font-size: 35px;
}
.keys{
    height: 400px;
}
.btn{
    width: 25%;
    background-color: azure;
    float: left;
    margin-top: 1px;
    height: 23%;
    text-align: center;
    line-height: 92px;
    border-radius: 5px;
    border: 1px solid rgb(130, 130, 130);
    cursor: pointer;
    box-shadow: 2px 2px 1px black;
    font-size: 30px;
}
.btn:hover{
    background-color: rgb(218, 218, 218);
}
.btn:active{
    user-select: none;
    padding: 2px;
    box-shadow: 2px 2px 1px black inset;
    
}

img{
    width: 20px;
    height: 20px;
}
#equalsign{
    background-color: rgb(235, 121, 121);
}